_ReSharper.Descent
Descent/Descent/bin
Descent/Descent/obj
Descent/DescentContent/obj
EmilTests/EmilTests/bin
EmilTests/EmilTests/obj
EmilTests/EmilTestsContent/obj
EmilTests/EmilTestsContent/bin
MessagingTest/bin
MessagingTest/obj
Descent/Descent.PexValidation/bin
Descent/Descent.PexValidation/obj
Descent/Descent.ManualValidation/bin
Descent/Descent.ManualValidation/obj
*.dotCover
*.ReSharper.user
*.suo
*.sln.cache
*.ReSharper
*.cachefile
Descent/Descent/StyleCop.Cache
*.stackdump
.vsmdi
DotCoverResults
.testsettings
*.dcvr.settings